<div class="my-28 flex flex-col">
    <div class="col-span-8 col-start-2 row-span-1">
        <h1 class="text-primary text-2xl">Tools</h1>
        <p class="text-6xl">Full Stack Web Tools</p>
        <p class="text-base-100 text-2xl">Bespoke websites that'll tell a story, connect with your audience and delight your customers. However, great website aesthetics, I build functional sites that drive traffic, convert visitors and grow your business.</p>
    </div>
    <div class="flex flex-wrap justify-start mt-10 self-center w-full px-[8%]">
        <div class="card">React.js</div>
        <div class="card">Node.JS</div>
        <div class="card">MongoDB</div>
        <div class="card">Express</div>
        <div class="card">Redux</div>
        <div class="card">Typescript</div>
        <div class="card">Canvas</div>
    </div>
</div>

<style is:global>
    .card{
        @apply w-[22%] h-36 flex-c-c bg-base-100 m-2

    }
</style>