


<div class="grid grid-cols-11 grid-rows-12 gap-4 mt-28 cards-wrapper">
    <div class="col-span-8 row-span-2 col-start-2">
        <div class="col-span-8 col-start-2 row-span-1">
            <h1 class="text-primary text-2xl">Web Application</h1>
            <p class="text-6xl">Full Stack Web Application</p>
            <p class="text-base-100 text-2xl">Bespoke websites that'll tell a story, connect with your audience and delight your customers. However, great website aesthetics, I build functional sites that drive traffic, convert visitors and grow your business.</p>
        </div>
    </div>
    <div class="col-span-5 row-span-5 col-start-2 row-start-3 card">3</div>
    <div class="col-span-4 row-span-5 col-start-7 row-start-3 card">15</div>
    <div class="col-span-4 row-span-5 col-start-2 row-start-8 card">16</div>
    <div class="col-span-5 row-span-5 col-start-6 row-start-8 card">17</div>
</div>



<style is:global>
.cards-wrapper{
    @apply [&_.card]:bg-blue-400 [&_.card]:h-40
}
</style>