@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html{
    --color-fill: 251, 254, 251; /**/
    --color-text-base: 40, 39, 40;
    /* --color-accent: 0, 108, 172; */
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
    /*--color-primary: 251, 37, 118; /*pink*/
    --color-primary: 55, 114, 255; /*pink*/
    --color-secondary :63,0,113; /*purple*/
    --color-base: 0,0,0;  
    --color-base-100: 156, 163, 175;
    --color-base-200: 28, 36, 49;
    --color-accent:63,0,113;
    --color-base-invert: 255,255,255;
    /* Scroll */
    --scale: 0.1;
    --space: 8vmin;
    --font-primary: 'Lato', sans-serif;
    --font-heading: 'Playfair Display', serif;
  }
  a{
    cursor: pointer;
    /* background-color: #1c2431 */
  }

  body{
    background-color: #000000;
    color: #fafafa;
    margin: 0;
    padding: 0;
  }
  .font-inter{
    font-family: 'Inter', sans-serif;
  }
  *{
    color: #dedede;
    font-family: 'Inter', 'sans-serif';
  }
  body{
    background-color:rgba(var(--color-base), 1);
  }
  /* body {
    @apply bg-skin-fill text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  } */

  .bg-glass{
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  }

  @layer utilities{
    .btn {
      @apply py-3 px-4 inline-flex justify-center items-center gap-2 border border-transparent font-semibold bg-primary text-white hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 transition-all text-sm dark:focus:ring-secondary dark:focus:ring-offset-gray-800 rounded-full;
    }
    .flex-r-c{
      @apply flex flex-row justify-center items-center;
    }
    .flex-r-b{
      @apply flex flex-row justify-between items-center;
    }
  
    .flex-c-c{
      @apply flex flex-col justify-center items-stretch;
    }
    .flex-c-b{
      @apply flex flex-col justify-between items-center;
    }
    section,
    footer {
      @apply mx-auto max-w-3xl px-4;
    }
    a {
      @apply outline-2 outline-offset-1 outline-skin-fill
      focus-visible:no-underline focus-visible:outline-dashed;
    }
    svg {
      /* @apply inline-block h-8 w-8 fill-skin-base group-hover:fill-skin-accent; */
      /* fill : #3772FF */
    }
    svg.icon-tabler {
      @apply inline-block h-10 w-10 scale-125 fill-transparent 
      stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
      sm:scale-110;
    }
    .prose {
      @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
      prose-h3:italic prose-p:!text-skin-base 
      prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8
      hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
      prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
      prose-figcaption:!text-skin-base prose-figcaption:opacity-70
      prose-strong:!text-skin-base
      prose-code:rounded prose-code:bg-skin-card 
      prose-code:bg-opacity-75 prose-code:p-1 prose-code:!text-skin-base 
      prose-code:before:!content-[''] prose-code:after:!content-['']
      prose-pre:!text-skin-base prose-ol:!text-skin-base 
      prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
      prose-table:text-skin-base prose-th:border
      prose-th:border-skin-line prose-td:border 
      prose-td:border-skin-line prose-img:mx-auto 
      prose-img:!mt-2 prose-img:border-2 
      prose-img:border-skin-line prose-hr:!border-skin-line;
    }
    .prose a {
      @apply break-words hover:!text-skin-accent;
    }
    .prose thead th:first-child,
    tbody td:first-child,
    tfoot td:first-child {
      padding-left: 0.5714286em;
    }
    .prose h2#table-of-contents {
      @apply mb-2;
    }
    .prose details {
      @apply inline-block cursor-pointer select-none text-skin-base;
    }
    .prose summary {
      @apply focus-outline;
    }
    .prose h2#table-of-contents + p {
      @apply hidden;
    }
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}