---
import CheckIcon from "./check-icon.astro";
---

   
<div class="grid grid-cols-11 grid-rows-9 gap-4 mt-28 cards-wrapper">
    <div class="col-span-8 row-span-2 col-start-2">
        <div class="mb-8">
            <h1 class="text-primary text-2xl">Deliverables</h1>
                <p class="text-6xl">Full Stack Web Application</p>
                <p class="text-base-100 text-2xl">Bespoke websites that'll tell a story, connect with your audience and delight your customers. However, great website aesthetics, I build functional sites that drive traffic, convert visitors and grow your business.</p>
        </div>
    </div>
    <!-- List 1 -->
    <div class="col-span-3 row-span-7 col-start-2 row-start-3 card [&_svg]:fill-primary">
        <ul class="space-y-3">
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               Lorem ipsum dolor sit amet
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               It is a long established fact reader
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               The point of using Lorem Ipsum
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               There are many variations of passages
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               If you are going to use a of Lorem
            </li>
         </ul>
    </div>
    <!-- List 2 -->
    <div class="col-span-3 row-span-7 col-start-5 row-start-3 card [&_svg]:fill-primary">
        <ul class="space-y-3">
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               Lorem ipsum dolor sit amet
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               It is a long established fact reader
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               The point of using Lorem Ipsum
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               There are many variations of passages
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               If you are going to use a of Lorem
            </li>
         </ul>
    </div>
    <div class="col-span-3 row-span-7 col-start-8 row-start-3 card [&_svg]:fill-primary">
        <ul class="space-y-3">
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               Lorem ipsum dolor sit amet
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               It is a long established fact reader
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               The point of using Lorem Ipsum
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               There are many variations of passages
            </li>
            <li class="flex">
               <span class="text-primary mr-2.5 mt-0.5">
                  <CheckIcon />
               </span>
               If you are going to use a of Lorem
            </li>
         </ul>
    </div>
</div>

<style>
    .cards-wrapper{
        /* @apply [&_.card]:bg-blue-400 [&_.card]:h-40 */
        @apply [&_.card]:text-white [&_svg]:fill-primary
    }
    .card{
      @apply [&_svg]:fill-primary [&_li]:text-base-100
    }
    </style>