---
---


<div class="grid grid-cols-11 grid-rows-4 gap-4 cards-wrapper">
    <div class="col-span-8 row-span-2 col-start-2">
        <div class="col-span-8 col-start-2 row-span-1">
            <h1 class="text-primary text-2xl">Core Benefits</h1>
            <p class="text-6xl">Take control of your digital identity</p>
            <p class="text-base-100 text-2xl">Bespoke websites that'll tell a story, connect with your audience and delight your customers. However, great website aesthetics, I build functional sites that drive traffic, convert visitors and grow your business.</p>
        </div>
    </div>
<div class="col-span-3 col-start-2 row-start-3 card">3</div>
<div class="col-span-3 col-start-5 row-start-3 card">8</div>
<div class="col-span-3 col-start-8 row-start-3 card">11</div>
<div class="col-span-3 col-start-2 row-start-4 card">12</div>
<div class="col-span-3 col-start-5 row-start-4 card">13</div>
<div class="col-span-3 col-start-8 row-start-4 card">14</div>
</div>



<style>
.cards-wrapper{
        @apply [&_.card]:bg-blue-400 [&_.card]:rounded-xl 
    }
</style>