---
import { AWS} from "@Icons";
import BaasPlatform from "@/components/icons/baas-platform.astro";
import FullStack from "@/components/icons/full-stack.astro";
---
<div class="mt-20 ">
    <h1>This is contact</h1>

    <div class=" [&_svg]:fill-primary">
        <FullStack />
        <BaasPlatform />
    </div>
</div>