---
import Automation from "@components/icons/automation.astro"
import ArrowCircle from "@components/icons/arrow-circle.astro"

---

<div class="relative mt-28">
    <div class="[&_svg]:h-20 flex-c-c [&_svg]:fill-primary"> 
        <Automation />
        <h1 class="text-5xl text-center mt-2">Features</h1>
        <h5 class="text-2xl text-center text-base-100 mt-4">This is some nice text about DevOps services, tools and Implementation</h5>
    </div>
    <div class="flex mt-14">
        <!-- Feature Points -->
        <div class="flex w-full">
            <ul class="w-1/2 [&_svg]:h-10 [&_svg]:fill-primary [&_svg]:rotate-180 pl-16">
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Containerization</h1>
                        <p class="text-base-100 text-sm">Run applications in an isolated environment</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">CI/CD</h1>
                        <p class="text-base-100 text-sm">Continuous Integrations and Continuous Delivery</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Container Orchastration</h1>
                        <p class="text-base-100 text-sm"> Automated scaling and management of containerized applications</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Infrastructure as a Code</h1>
                        <p class="text-base-100 text-sm">Codify APIs into declarative configuration files</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Monitoring</h1>
                        <p class="text-base-100 text-sm">Metrics, alert and visualization of data</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">AWS</h1>
                        <p class="text-base-100 text-sm">Build, Deploy and manage application using hundreds of AWS solutions</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">GCP</h1>
                        <p class="text-base-100 text-sm">Google Cloud Platform Services</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Version Control</h1>
                        <p class="text-base-100 text-sm">Tracking and managing the change to software code</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">SSL/CDN</h1>
                        <p class="text-base-100 text-sm">Securely transmission and optimized site data</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Serverless</h1>
                        <p class="text-base-100 text-sm">Easily build auto-scaling, low-overhead applications without managing servers</p>
                    </div>
                </li>
                <li class="flex items-start mb-8 cursor-pointer">
                    <div class="h-10">
                        <ArrowCircle />
                    </div>
                    <div class="-mt-0.5 ml-4">
                        <h1 class="text-2xl -mt-0.5">Backend as a Service</h1>
                        <p class="text-base-100 text-sm">ready to use backend services and focus on the frontend </p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Test End -->
        <div class="sticky-side bg-base-100 rounded-xl w-2/3 h-[250px]">
        </div>
    </div>
</div>

<style>
    	.sticky-section {
            position: relative;
            z-index: 1;
        }
	.sticky-side{
		position: sticky;
		top: 70px;
		right: 0;
	}
	.sticky-image {
		position: sticky;
		top: 0;
		height: 100vh; 
		background: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)),
		center/cover no-repeat url('/night.jpg');
		z-index: -1;
	}
</style>