---

import DevOps from '@components/icons/logos/DevOps.astro'


import { 
    ReactJs,
    Supabase,
    GCPFilled,
    AstroJs,
    AWSFilled,
    NodeJs,
    MongoDB,
    FirebaseFilled,
    DockerFilled,
    FlutterFilled,
} from "@Icons"
---

<div class="[&_svg]:h-14 [&_svg]:w-14 h-[10vh] max-w-7xl mx-auto px-4 md:flex md:grid-cols-10 gap-x-0 gap-y-6 grid grid-cols-5 justify-evenly items-center brands-row" >
    <div class="flex-r-c" >
        <AWSFilled />
    </div>
    <div class="flex-r-c" >
        <ReactJs />
    </div>
    <div class="flex-r-c" >
        <NodeJs />
    </div>
    <div class="flex-r-c" >
        <DevOps />
    </div>
    <div class="flex-r-c" >
        <Supabase />
    </div>
    <div class="flex-r-c" >
        <GCPFilled />
    </div>
    <div class="flex-r-c" >
        <FlutterFilled />
    </div>
    <div class="flex-r-c" >
        <FirebaseFilled />
    </div>
    <div class="flex-r-c" >
        <AstroJs />
    </div>
    <div class="flex-r-c" >
        <DockerFilled />
    </div>
</div>

<style>

</style>