---
import DevOpsList from "@components/ui/DevOpsList.astro"
import ServicesCard from "@components/ui/ServicesCard.astro";
import { WebDev, Automation, ArrowCircle } from "@Icons"
---
<div class="sticky-section">
	<div class="sticky-image"></div>
	<div class="cover w-full flex-c-c h-screen">
		<div class=" px-4 sm:px-6 lg:px-8 py-24 space-y-8">
		<div class="max-w-3xl text-start mx-auto">
			<h1 class="block font-medium text-white text-3xl sm:text-5xl md:text-2xl lg:text-4xl font-inter">
				Strategy and Implementation
			</h1>
		</div>
		<div class="max-w-3xl text-start mx-auto">
			<p class="text-lg text-base-100 font-inter">Specializing in database-driven web apps, modern API based websites, and DevOps Tools.</p>
		</div>
		</div>
	</div>

	<!-- Service Cards -->
	<ServicesCard />

	<!-- Service Points -->
	<div class="grid md:grid-cols-12 gap-5 px-10 mt-20 md:grid-rows-2">
		<div class="lg:col-start-1 lg:col-end-6 md:col-start-1 md:col-end-10">
			<p class="text-xl text-base-100">
				<span class="text-primary">Result focused</span>, evidence based digital strategies and products. Working with clients to develop evidence based digital strategies and build digital products that deliver results.
			</p>
			<p class=" text-lg mt-5">
				<span class="text-primary">ABOUT ME: </span>
				<!-- Working with clients to develop evidence based digital strategies and build digital products that deliver results. -->
				My name is Muhabbat Ali but you can also call me Mohib. I'm a full stack developer and DevOps engineer. I've been working as a freelancer for 5 years. During that time I've got a chance to with many organizations, individual clients and startups. 
			</p>
		</div>
		<div class="md:row-start-2 lg:row-start-1 md:col-start-1 md:col-end-13 lg:col-start-7 lg:col-end-13 [&_svg]:h-7 [&_svg]:fill-primary [&_svg]:rotate-180">
			<div class="flex flex-col md:flex-row [&_p]:text-base-100 [&_p]:text-sm [&_h1]:text-2xl [&_li]:flex [&_li]:items-start [&_li]:mb-5 [&_li]:h-16">
				<ul class="md:w-1/2">
					<li class="flex items-start mb-5">
						<div class="h-10 pr-2">
							<ArrowCircle />
						</div>
						<div>
							<h1 class="-mt-0.5">Professional</h1>
							<p>Builds applications by following the professional standards</p>
						</div>
					</li>
					<li class="flex items-start mb-5">
						<div class="h-10 pr-2">
							<ArrowCircle />
						</div>
						<div>
							<h1 class="-mt-0.5">Experience</h1>
							<p>I have 5+ years of experience in this field</p>
						</div>
					</li>
					<li class="flex items-start mb-5">
						<div class="h-10 pr-2">
							<ArrowCircle />
						</div>
						<div>
							<h1 class="-mt-0.5">Communication</h1>
							<p>Highly focused on getting in touch deeper understanding of the target</p>
						</div>
					</li>
				</ul>
				<ul class="md:w-1/2">
					<li class="flex items-start mb-5">
						<div class="h-10 pr-2">
							<ArrowCircle />
						</div>
						<div>
							<h1 class="-mt-0.5">Always Learning</h1>
							<p>I love to work on challenges to enhance my learning </p>
						</div>
					</li>
					<li class="flex items-start mb-5">
						<div class="h-10 pr-2">
							<ArrowCircle />
						</div>
						<div>
							<h1 class="-mt-0.5">Goal Oriented</h1>
							<p>Completing the target is always my first priority</p>
						</div>
					</li>
					<li class="flex items-start mb-5">
						<div class="h-10 pr-2">
							<ArrowCircle />
						</div>
						<div>
							<h1 class="-mt-0.5">Customer Support</h1>
							<p>Always respond to the queries even after the completion</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- Web Development -->
	<div class="mt-28">
		<div class="px-10 [&_svg]:h-14 [&_svg]:fill-primary my-2">
			<WebDev />
			<h1 class="text-5xl mt-2">Web Development</h1>
			<p class="text-2xl text-base-100 md:pr-36 mt-2">Custom sites that are easy on the eye, loved by Google and optimised for user experience. As a chartered markerter as well as a web developer, I can help you with all aspects of your website strategy.</p>
		</div>

		<!-- Web Development Cards -->
		<div class="grid md:grid-cols-9 md:grid-rows-2 gap-4 [&_.container]:h-[460px] [&_.container]:rounded-2xl [&_.container]:bg-base-200 p-7 md:p-0 mt-12">
			<div class="container md:col-span-4 md:col-start-2 relative">
				<div class="h-[220px] web-card cover1 rounded-t-2xl">
					<img class="absolute h-44 top-5 left-1/2 -translate-x-1/2 z-10" src="/web-development.jpg"/>
				</div>
				<div class="h-[240px] content text-white px-3 py-5">
					<h1 class="font-inter font-bold text-2xl">Full Stack Application</h1>
					<p class="py-2 text-lg font-inter text-base-100">Contemporary, user-friendly applications with tailored features, crafted through a modern full-stack development approach, utilizing MERN Stack and Laravel technologies.</p>
				</div>
			</div>
			<div class="container md:col-span-3 md:col-start-6 relative">
				<div class="h-[220px] web-card cover2 rounded-t-2xl">
					<img class="absolute h-44 top-5 left-1/2 -translate-x-1/2 z-10" src="/canvas-website.png"/>
				</div>
				<div class="h-[240px] content text-white px-3 py-5">
					<h1 class="font-inter font-bold text-2xl">WebGL Websites</h1>
					<p class="py-2 text-lg font-inter text-base-100">Craft high-performance and secure 2D/3D websites leveraging cutting-edge technologies using WebGL such as Fabric.js, Three.js, Babylon.js, Paper.js</p>
				</div>
			</div>
			<div class="container md:col-span-3 md:col-start-2 relative md:row-start-2">
				<div class="h-[220px] web-card cover3 rounded-t-2xl">
					<img class="absolute h-44 top-5 left-1/2 -translate-x-1/2 z-10" src="/blog-website.jpg"/>
				</div>
				<div class="h-[240px] content text-white px-3 py-5">
					<h1 class="font-inter font-bold text-2xl">Static Website</h1>
					<p class="py-2 text-lg font-inter text-base-100">Create exceptionally speedy and secure websites by employing headless content management systems such as Sanity and Strapi, combined with Astro or Gatsby.js.</p>
				</div>
			</div>
			<div class="container md:col-span-4 md:col-start-5 relative md:row-start-2">
				<div class="h-[220px] web-card cover4 rounded-t-2xl">
					<img class="absolute h-44 top-5 left-1/2 -translate-x-1/2 z-10" src="/devops-diagram.png"/>
				</div>
				<div class="h-[240px] content text-white px-3 py-5">
					<h1 class="font-inter font-bold text-2xl">Backend as a Service</h1>
					<p class="py-2 text-lg font-inter text-base-100">Revolutionize Backend Operations: Unleash the Power of BaaS Services, including Firebase, Supabase, Appwrite, and AWS Amplify, for Scalable and Secure Cloud Solutions Tailored to Your Business.</p>
				</div>
			</div>
	</div>
	</div>

	<!-- DevOps Section -->
	<div class="relative mt-10">
		<div class="[&_svg]:h-20 flex-c-c [&_svg]:fill-primary"> 
			<Automation />
			<h1 class="text-5xl text-center mt-2">DevOps Services</h1>
			<h5 class="text-2xl text-center text-base-100 mt-4 px-5 md:px-10 lg:px-20">
				Develop and Deliver your apps. Automate your infrastructure so that your product never goes down for maintianance.
			</h5>
		</div>
		<div class="flex mt-14">
			<!-- Test Points -->
			<DevOpsList />

			<!-- Test End -->
			<div class="sticky-side bg-base-100 rounded-xl w-2/3 h-[280px] md:block hidden">
			</div>
		</div>
	</div>
</div>

  <style>

	.cover{
		height: 60vh;
		position: relative;
		background: radial-gradient(circle closest-side at 20% 50%);
	}
	.sticky-section {
            position: relative;
            z-index: 1;
        }
	.sticky-side{
		position: sticky;
		top: 70px;
		right: 0;
		background: url("/devops.gif") ;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 50;
		background-position: 100%;
	}
	.sticky-image {
		position: sticky;
		top: 0;
		height: 100vh; 
		background: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)),
		center/cover no-repeat url('/night.jpg');
		z-index: -1;
	}

	.container{
		/* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,1) 100%); */
	}
	.web-card-1{
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center; 
	}
	.cover1{
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 100%), url('/public/abstract/1.jpg');
	}
	.cover2{
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 100%), url('/public/abstract/2.jpg');
	}
	.cover3{
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 100%), url('/public/abstract/5.jpg');
	}
	.cover4{
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 100%), url('/public/abstract/4.jpg');
	}
	/* .web-card-1::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
	  bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 1; 
    } */
	.content{
		/* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,1) 100%) */
	}
	/* [astro-icon] {
        color: blue;
        fill: blue;
    } */
  </style>
