---
import AstroIcon from "@components/icons/astro.astro"
import FirebaseIcon from '@components/icons/firebase.astro';
import NextjsIcon from "@components/icons/nextjs.astro"
import FullStackIcon from "@components/icons/full-stack.astro"
import Backend from "@components/icons/backend.astro"
import StaticWebsite from "@components/icons/static-website.astro"
import BaasPlatform from "@components/icons/baas-platform.astro" 
import CloudService from "@components/icons/cloud-service.astro"
import ContainerService from "@components/icons/container-service.astro"
import CICD from "@components/icons/cicd-service.astro"
import Linux from "@components/icons/linux.astro"
import Docker from "@components/icons/docker.astro"
import Terraform from "@components/icons/terraform.astro"
import Jenkins from "@components/icons/jenkins.astro"
import AWS from "@components/icons/aws.astro"
---
<header id="navbar" class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-glass text-sm py-0.5 fixed rounded-none">
  <nav class="w-full px-4 sm:flex sm:items-center sm:justify-between justify-between rounded-none" aria-label="Global">
    <div class="flex items-center justify-between">
      <a href="/" class="flex-none text-xl font-semibold text-base-invert">Dev Mohib</a>
      <div class="sm:hidden">
        <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium text-base-invert shadow-sm align-middle focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary  transition-all text-sm hover:bg-gray-500" data-hs-collapse="#navbar-collapse-basic" aria-controls="navbar-collapse-basic" aria-label="Toggle navigation">
          <svg class="hs-collapse-open:hidden w-4 h-4 fill-base-invert" width="16" height="16" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <svg class="hs-collapse-open:block hidden w-4 h-4 fill-base-invert" width="16" height="16" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
    </div>

    <div id="navbar-collapse-basic" class="hidden sm:block ">
      <div class="flex flex-col [&_svg]:fill-primary gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5">
        <div class="hs-dropdown [--strategy:static] sm:[--strategy:absolute] [--adaptive:none]">
          <button id="hs-mega-menu-basic-dr" type="button" class="flex items-center w-full  font-normal text-base-invert hover:bg-gray-800 hover:rounded-full py-2 px-5">
            Web Apps
            <svg class="ml-2 w-2.5 h-2.5 fill-base-invert hover:fill-base-invert" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" class="stroke-base-invert" stroke-width="2" stroke-linecap="round"></path>
            </svg>
          </button>

          <div class="hs-dropdown-menu [&_svg]:h-10 [&_svg]:w-10 transition-[opacity,margin] duration-[100ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 
              sm:w-2/3 md:w-2/3 xl:w-1/2 hidden z-10 sm:shadow-md rounded-lg p-2 sm:bg-base
              before:absolute top-full sm:right-1/2 sm:translate-x-1/2 sm:border before:-top-5 before:left-1/2 before:w-1/6 before:h-5 px-5 border-none">
            <div class="font-inter grid grid-cols-1 sm:grid-cols-2 h-auto">
                <a href="/full-stack" class="flex hover:bg-base-200 p-4 rounded-lg py-2 row-span-2">
                  <div class="w-10 mt-2">
                    <FullStackIcon />
                  </div>
                  <div class="flex flex-col px-3 rounded-md cursor-pointer">
                    <h1 class="text-xl font-light text-base-invert">Full Stack</h1>
                    <p class="text-sm text-gray-400">Modern intuitive Apps with custom rich functionalities built using modern full stack approach of development MERN Stack, Laravel.</p>
                  </div>
                </a>
                <a href="backend" class="flex hover:bg-base-200 p-4 rounded-lg py-2 row-span-2">
                  <div class="w-10 mt-2">
                    <Backend />
                  </div>
                  <div class="flex flex-col px-3 rounded-md cursor-pointer">
                    <h1 class="text-xl font-light text-base-invert">Backend Solutions</h1>
                    <p class="text-sm text-gray-400">Designing and implementing server-side logic to ensure optimal functionality.</p>
                  </div>
                </a>
                <a href="/static-website" class="flex hover:bg-base-200 p-4 rounded-lg py-2 row-span-2">
                  <div class="w-10 mt-2">
                    <StaticWebsite />
                  </div>
                  <div class="flex flex-col px-3 rounded-md cursor-pointer">
                    <h1 class="text-xl font-light text-base-invert">Static Websites</h1>
                    <p class="text-sm text-gray-400">Exceptionally fast and secure websites built with headless Content management system like Sanity, Strapi using Astro or Gatsby.js</p>
                  </div>
                </a>
                <a href="/baas-platform" class="flex hover:bg-base-200 p-4 rounded-lg py-2 row-span-2">
                  <div class="w-10 mt-2">
                    <BaasPlatform />
                  </div>
                  <div class="flex flex-col px-3 rounded-md cursor-pointer">
                    <h1 class="text-xl font-light text-base-invert">BaaS Platforms</h1>
                    <p class="text-sm text-gray-400">Get ready to use services quickly and efficiently for apps using Firebase, Supabase, AppWrite, or AWS Amplify  </p>
                  </div>
                </a>
            </div>
            <div class="h-0.5 bg-base-200 w-auto my-5"/>

            <div class="grid grid-cols-4 gap-5 [&_svg]:inline-block [&_svg]:h-8 [&_svg]:w-8">
              <div class="row-start-1 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"> <FullStackIcon /> <span class="font-inter text-sm font-bold px-5">MERN Stack</span></div>
              <div class="row-start-2 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"><AstroIcon /> <span class="font-inter text-sm font-bold px-5">Astro</span></div>
              <div class="row-start-1 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"><FirebaseIcon /> <span class="font-inter text-sm font-bold px-5">Firebase</span></div>
              <div class="row-start-2 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"> <NextjsIcon /> <span class="font-inter text-sm font-bold px-5">Next.js</span></div>              
            </div>

          </div>
        </div>

        <div class="hs-dropdown [--strategy:static] sm:[--strategy:absolute] [--adaptive:none]">
          <button id="hs-mega-menu-basic-dr" type="button" class="flex items-center w-full  font-normal text-base-invert hover:bg-gray-800 hover:rounded-full py-2 px-5">
            DevOps
            <svg class="ml-2 w-2.5 h-2.5 fill-base-invert hover:fill-base-invert" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" class="stroke-base-invert" stroke-width="2" stroke-linecap="round"></path>
            </svg>
          </button>

          <div class="hs-dropdown-menu [&_svg]:h-10 [&_svg]:w-10 transition-[opacity,margin] duration-[100ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 
          sm:w-2/3 md:w-2/3 xl:w-1/2 hidden z-10 sm:shadow-md rounded-lg p-2 sm:bg-base
          before:absolute top-full sm:right-1/2 sm:translate-x-1/2 sm:border before:-top-5 before:left-1/2 before:w-1/6 before:h-5 px-5 border-none">
          <div class="flex">
            <div class="font-inter">
              <div class="flex hover:bg-base-200 p-4 rounded-lg py-2">
                <div class="w-10 mt-2">
                  <CloudService />
                </div>
                <div class="flex flex-col px-3 rounded-md cursor-pointer">
                  <h1 class="text-xl font-light text-base-invert">Cloud Service</h1>
                  <p class="text-sm text-gray-400">Configuring and managing cloud environments such as Virtual machines, databases, Serverless, and deployments with a focus on AWS and Azure.</p>
                </div>
              </div>
              <div class="flex hover:bg-base-200 p-4 rounded-lg py-2">
                <div class="w-10 mt-2">
                  <ContainerService />
                </div>
                <div class="flex flex-col px-3 rounded-md cursor-pointer">
                  <h1 class="text-xl font-light text-base-invert">Containerization</h1>
                  <p class="text-sm text-gray-400">Efficiently packaging applications and dependencies using docker for consistent deployment on an isolated environment.</p>
                </div>
              </div>
            </div>

            <div class="font-inter">
              <div class="flex hover:bg-base-200 p-4 rounded-lg py-2">
                <div class="w-10 mt-2">
                  <CICD />
                </div>
                <div class="flex flex-col px-3 rounded-md cursor-pointer">
                  <h1 class="text-xl font-light text-base-invert">CI/CD</h1>
                  <p class="text-sm text-gray-400">Implementing Continuous Integration and Continuous Deployment using Jenkins and GitHub Actions.</p>
                </div>
              </div>
              <div class="flex hover:bg-base-200 p-4 rounded-lg py-2">
                <div class="w-10 mt-2">
                  <Linux />
                </div>
                <div class="flex flex-col px-3 rounded-md cursor-pointer">
                  <h1 class="text-xl font-light text-base-invert">Linux</h1>
                  <p class="text-sm text-gray-400">Proficient in Linux and Virtual Machines for optimal infrastructure management. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="h-0.5 bg-base-200 w-auto my-5"/>

          <div class="grid grid-cols-4 gap-5 [&_svg]:inline-block [&_svg]:h-8 [&_svg]:w-8">
            <div class="row-start-1 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"> <Docker /> <span class="font-inter text-sm font-bold px-5">Docker</span></div>
            <div class="row-start-2 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"><AWS /> <span class="font-inter text-sm font-bold px-5">AWS</span></div>
            <div class="row-start-1 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"><Terraform /> <span class="font-inter text-sm font-bold px-5">Terraform</span></div>
            <div class="row-start-2 hover:bg-base-200 py-2 px-3 rounded-md cursor-pointer"> <Jenkins /> <span class="font-inter text-sm font-bold px-5">Jenkins</span></div>              
          </div>
          </div>
        </div>
        <a class="font-normal text-base-invert hover:bg-gray-800 hover:rounded-full py-2 px-5">Projects</a>
        <a href="/blogs" class="font-normal text-base-invert hover:bg-gray-800 hover:rounded-full py-2 px-5" aria-current="page">Blogs</a>
        <button class="btn sm:hidden block ">Contact</button>

      </div>
    </div>
    <button class="btn sm:block hidden ">Contact</button>
  </nav>
</header>

<style>
  #navbar{
    top: 0px;
    transition: top 0.3s ease-in-out, position 0.3s ease-in-out;
  }
</style>
<script>
  const navbar : HTMLElement = document.getElementById("navbar")!;
  let lastScrollTop = 0;
  const delta = 5;
  const navbarHeight : number = navbar?.offsetHeight??0;

  // window.addEventListener("scroll", () => {
  //     const currentScrollTop = window.pageYOffset;

  //     // Scroll down
  //     if (Math.abs(lastScrollTop - currentScrollTop) >= delta) {
  //         if (currentScrollTop > lastScrollTop && currentScrollTop > navbarHeight) {
  //             navbar.style.top = `-${navbarHeight}px`;
  //         } else {
  //             navbar.style.top = "0px";
  //         }
  //         lastScrollTop = currentScrollTop;
  //     }

  //     // Toggle between fixed and relative positioning
  //     if (currentScrollTop < navbarHeight) {
  //         navbar.style.position = "fixed";
  //     } else {
  //         navbar.style.position = "relative";
  //     }
  // });
</script>