<div class=" bg-base-200 w-full mt-16">
    <div class="grid grid-cols-2 gap-10 h-[40vh]">
        <div class="col-start-1 col-end-2 h-full place-self-center flex-c-c">
            <h1 class="text-4xl mt-5">Dev Mohib</h1>
        </div>
        <div class="col-start-2 col-end-3 flex mt-20 [&_li]:mt-3 [&_li]:text-base-100">
            <ul class="mr-16">
                <li>Home</li>
                <li>Web Development</li>
                <li>DevOps</li>
                <li>Projects</li>
            </ul>
            <ul>
                <li>Containerization</li>
                <li>AWS</li>
                <li>CI/CD</li>
                <li>IaC</li>
            </ul>
        </div>
    </div>
    <div>
        <h1 class="text-base-100 text-center px-20 py-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem quo rerum totam eos aut, quia hic molestiae impedit delectus amet earum, ad soluta provident at nisi mollitia quos atque?
        </h1>
    </div>
</div>