<div class="bg-base-200 pt-10 pb-4">
    <div class="flex flex-col md:flex-row justify-around items-center h-[40vh]">
        <div class=" h-full place-self-center flex-c-c">
            <h1 class="text-4xl mt-5">Dev Mohib</h1>
        </div>
        <div class="flex mt-20 [&_li]:mt-3 [&_li]:text-base-100">
            <ul class="mr-16">
                <li>Home</li>
                <li>Web Development</li>
                <li>DevOps</li>
                <li>Projects</li>
            </ul>
            <ul>
                <li>Containerization</li>
                <li>AWS</li>
                <li>CI/CD</li>
                <li>IaC</li>
            </ul>
        </div>
    </div>
    <div class="mt-7">
        <h1 class="text-base-100 text-center px-8 md:px-20 py-5 text-xs md:text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptatem quo rerum totam eos aut, quia hic molestiae amet earum,
        </h1>
    </div>
</div>